<% comments ||= [] %>

<div class="list-group">
  <% if comments.present? %>
    <% comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% else %>
    <div class="list-group-item list-group-item-action">
      <h6>댓글이 없습니다.</h6>
    </div>
  <% end %>
</div>
